// https://colorhunt.co/palette/222831393e46b55400eeeeee

// Background
$bg-color-1: #222831;

// Input
$bg-input-color: #393E46;
$border-input-color: #393E46;

// Terminal
$bg-terminal-color: #393E46;
$border-terminal-color: #393E46;

// Text
$text-color: #EEEEEE;

// Action trigger button
$bg-btn-action-trigger-color: #B55400;
$border-btn-action-trigger-color: #B55400;