// https://colorhunt.co/palette/222831393e46b55400eeeeee

// Background
$bg-color-1: #222831;

// Input
$bg-input-color: #393E46;
$border-input-color: #393E46;
$bg-input-btn-color: #B55400;
$border-input-btn-color: #B55400;

// Terminal
$bg-terminal-color: #393E46;
$border-terminal-color: #393E46;

// Text
$text-color: #EEEEEE;

// Action trigger button
$bg-btn-action-trigger-color: #B55400;
$border-btn-action-trigger-color: #B55400;

// Modal
$bg-modal-color: #222831;
$bg-modal-border: #393E46;

// Command injection in modal
$bg-command-color: #393E46;

// Sub action button
$bg-sub-action-btn-color: #EEEEEE;
$text-sub-action-btn-color: #262626;