// https://colorhunt.co/palettes/dark

@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "mixins";

body {
  height: 100vh;
  background-color: $bg-color-1;
  color: $text-color;
}

input {
  &.form-control,
  &.form-control[readonly] {
    background-color: $bg-input-color;
    border: 1px solid $border-input-color;
    color: $text-color;

    &:focus,
    &:disabled {
      background-color: $bg-input-color;
      border: 1px solid $border-input-color;
      color: $text-color;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

button,
.btn {
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.theme-text-color {
  color: $text-color;
}

.input-section {
  font-size: 12px;

  input {
    &.form-control {
      font-size: 12px;
    }
  }

  button {
    font-size: 12px;
    background-color: $bg-input-btn-color;
    border: 1px solid $bg-input-btn-color;
    color: $text-color !important;

    &:active {
      background-color: rgba($color: $bg-input-btn-color, $alpha: 0.8);
      border: 1px solid rgba($color: $bg-input-btn-color, $alpha: 0.8);
    }
  }
}

.terminal-section {
  .terminal {
    width: 100%;
    overflow-y: scroll;
    background-color: $bg-terminal-color;
    border: 1px solid $border-terminal-color;
    font-size: 12px;
  }
}

.btn-action-trigger {
  background-color: $bg-btn-action-trigger-color;
  border: 1px solid $border-btn-action-trigger-color;
  font-size: 12px;
  color: $text-color !important;

  &:active {
    background-color: rgba($color: $bg-btn-action-trigger-color, $alpha: 0.8);
    border: 1px solid rgba($color: $border-btn-action-trigger-color, $alpha: 0.8);
  }
}

.cartridge-section {
  .cartridge-title {
    font-size: 12px;
  }

  .cartridges-list {
    ul {
      li {
        .ct-checkbox {
          width: 16px;
          height: 16px;
          font-size: 10px;
        }

        label {
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
}

.modal-dialog {
  .modal-content {
    background-color: $bg-modal-color;

    .modal-header {
      border-bottom: 1px solid $bg-modal-border;

      .btn-close {
        filter: brightness(0) invert(1);
      }
    }

    .modal-body {
      border-bottom: 1px solid $bg-modal-border;

      .command-inject {
        background-color: $bg-command-color;
        width: 100%;
        min-height: 75px;
      }
    }

    .modal-footer {
      border-top: 1px solid $bg-modal-border;

      .btn-action-container {
        @include flex(100%);

        @include media-breakpoint-up(sm) {
          @include flex(50%);
        }

        @include media-breakpoint-up(lg) {
          @include flex(20%);
        }
      }

      button {
        min-width: 150px;
        background-color: $bg-sub-action-btn-color;
        border: 1px solid $bg-sub-action-btn-color;
        color: $text-sub-action-btn-color;

        &:active {
          background-color: rgba($color: $bg-sub-action-btn-color, $alpha: 0.8);
          border: 1px solid rgba($color: $bg-sub-action-btn-color, $alpha: 0.8);
        }
      }
      
      > * {
        margin: 0;
      }
    }
  }
}